<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>博客后台</title>
  <link rel="stylesheet" href="<%=host%>/layui/css/layui.css">
</head>
<style>
  .box {
    height: 160px; 
    border: 2px solid #bcb5ff; 
    box-shadow: 4px 4px 0 #efe6f6 
  }
  .box p {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    font-family: cursive;
    color: #fd5fa1;
    font-weight: 700
  }
</style>
<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">Blog 后台管理</div>
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="<%=host%>/admin/admin">后台首页</a></li>
      </ul>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a href="javascript:;">
            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            影流之主
          </a>
          <dl class="layui-nav-child">

            <dd><a href="<%=host%>/admin/change_pass" >修改密码</a></dd>
            <dd><a href="<%=host%>/admin/logout">退出登录</a></dd>
          </dl>
        </li>

      </ul>
    </div>

    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree " lay-accordion lay-filter="test">
          <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">博文系统</a>
            <dl class="layui-nav-child layui-nav-itemed">
              <dd><a href="<%=host%>/admin/artical">编写文章</a></dd>
              <dd><a href="<%=host%>/admin/manage">文章管理</a></dd>
            </dl>
          </li>
        </ul>
      </div>
    </div>

    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <div class='layui-row layui-col-space30'>
          <div class="layui-col-md4">
            <div class='box'>
              <p>文章总数: </p>
              <p><%=artical_count%>篇</p>
            </div>
          </div>
          <div class="layui-col-md4">
            <div class='box'>
            <p>冻结文章数</p> 
            <p><%=frozed_count%>篇</p> 
            </div>
          </div>
          <div class="layui-col-md4">
            <div class='box'>
              <p>总阅读量</p>
              <p><%=readNum%></p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      © - 本项目基于koa2 + ejs + mysql + jquery开发。
    </div>
  </div>
  <script src="<%=host%>/layui/layui.js"></script>
  <script>
    //JavaScript代码区域
    layui.use('element', function () {
      var element = layui.element;

    });
  </script>
</body>

</html>