<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>博客后台</title>
  <link rel="stylesheet" href="<%=host%>/layui/css/layui.css">
  
</head>
<style>
  .box {
    height: 160px;
    border: 2px solid #bcb5ff;
    box-shadow: 4px 4px 0 #efe6f6
  }

  .box p {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    font-family: cursive;
    color: #fd5fa1;
    font-weight: 700
  }
</style>

<body class="layui-layout-body">
  <div class="layui-layout layui-layout-admin">
    <div class="layui-header">
      <div class="layui-logo">Blog 后台管理</div>
      <ul class="layui-nav layui-layout-left">
        <li class="layui-nav-item"><a href="<%=host%>/admin/admin">后台首页</a></li>
      </ul>
      <ul class="layui-nav layui-layout-right">
        <li class="layui-nav-item">
          <a href="javascript:;">
            <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
            影流之主
          </a>
          <dl class="layui-nav-child">

            <dd><a href="<%=host%>/admin/change_pass">修改密码</a></dd>
            <dd><a href="<%=host%>/admin/logout">退出登录</a></dd>
          </dl>
        </li>
        
      </ul>
    </div>

    <div class="layui-side layui-bg-black">
      <div class="layui-side-scroll">
        <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
        <ul class="layui-nav layui-nav-tree " lay-accordion lay-filter="test">
          <li class="layui-nav-item layui-nav-itemed">
            <a class="" href="javascript:;">博文系统</a>
            <dl class="layui-nav-child">
              <dd><a href="<%=host%>/admin/artical">编写文章</a></dd>
              <dd><a href="<%=host%>/admin/manage">文章管理</a></dd>
            </dl>
          </li>

        </ul>
      </div>
    </div>

    <div class="layui-body">
      <!-- 内容主体区域 -->
      <div style="padding: 15px;">
        <form action="<%=host%>/admin/change_pass" method="post" accept-charset="utf-8" class="layui-form">
          <div  class="layui-input-inline">
            <input type="password" name="pass1" required lay-verify="required" placeholder="请输入新密码" autocomplete="off" class="layui-input">
          </div>
        
          <div style="height: 20px"></div>
          <div class="layui-input-inline">
            <input type="password" name="pass2" required lay-verify="required" placeholder="请再次输入密码" autocomplete="off" class="layui-input">
          </div>
        
          <div style="height: 20px"></div>
          
          <div class="layui-row layui-col-space20 bts">
            <div class="layui-col-md6">
              <button class="layui-btn" lay-submit lay-filter="formDemo">确认修改</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="layui-footer">
      <!-- 底部固定区域 -->
      © - 本项目基于koa2 + ejs + mysql 开发。
    </div>
  </div>
  <script src="<%=host%>/layui/layui.js"></script>
  <script>
    //JavaScript代码区域
    layui.use('element', function () {
      var element = layui.element;

    });
    layui.use('form', function() {
      let form = layui.form
      form.on('submit', data => {
        console.log(data.field)
        if(data.field.pass1 != data.field.pass2) {
          layer.msg('两次密码输入不一致')
          return false
        }
        
      })
    })
    
  </script>
</body>

</html>